/* Hide Print button next to Action button */
.o_control_panel_main_buttons > .dropdown:first-child,
.o_control_panel_main_buttons > button.dropdown-toggle:first-child {
    display: none !important;
}

/* Hide the default Print dropdown button */
button.dropdown-toggle.btn.btn-light {
    display: none !important;
}